@media screen and (max-width:769px) {
    .main{
        width: 90%;
    }
}

@media screen and (max-width:621px) {
    .main{
        flex-direction: column;
        margin: auto;
    }

    .calculator-container{
        border-radius: 0px 0px 25px 25px;
    }

    .banner{
        border-radius: 25px 25px 0px 0px;
        padding-top: 150px;
    }

    .saving{
        flex-wrap: wrap;
    }
}